/* Link para a fonte usada na pagina */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #F8F8F8;
    color: #1f262f;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.ps-container{
    width: 400px;
    background-color: #1f262f;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

.ps-header{
    padding: 1rem;
}

.ps{
    color: #1f262f;
    width: 100%;
    height: 70px;
    background-color: #48bc6c;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
    /* overflow: auto; */
}

.ps button{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 50%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    background-color: #48bc6c;
    padding: 0.25rem 1rem;
    font-family: inherit;
    font-weight: bold;
    color: #1f262f;
    border: none;
    cursor: pointer;
}

.ps:hover button{
    opacity: 1;
    transform: translate(0,-80%);
}

.form{
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0.5rem;
}

.generate{
    display: block;
    background-color: #48bc6c;
    color: #1f262f;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    border: none;
    width: 100%;
    cursor: pointer;
}

